:host {
	width: fit-content;
}

.bg {
	display: inline-flex;
	align-items: center;
	height: 100%;
	width: fit-content;
	border-radius: 5em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: auto;
}