<app-bg-container full-page>
  <div style="
    display: flex;
    flex-direction: column;
    gap: 2em;
  ">
    <div>
      <h2>Email:</h2>
      <div>{{user.email}}</div>
    </div>
    <div>
      <h2>Login Identities:</h2>
      <div style="
        display: flex;
        flex-direction: column;
        gap: 1em;
      ">
        <app-card-grid column-width="200px" style="width: 100%;">
          <div *ngFor="let identity of user.loginIdentities" style="width: 100%;">
            <app-card>
              <div *ngIf="getIdentityStaticData(identity) as staticData">
                <h2>{{staticData?.name}}</h2>
                <h4 style="margin-bottom: 0.1em;">ID</h4>
                <p>{{identity?.identityId}}</p>
                <h4 style="margin-bottom: 0.1em;">Data</h4>
                <p>{{getIdentityData(identity)}}</p>
              </div>
            </app-card>
          </div>
        </app-card-grid>
      </div>
    </div>
  </div>
</app-bg-container>