div.bg {
  align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
}

div.content {
	display: flex;  
	align-items: center;
	justify-content: left;
	margin: auto;
	height: 100%;
	width: 80%;
}

div.content > * {
  padding-right: 20px;
}