<div class="app-horizontal-menu bg">
  <div class="app-horizontal-menu content">
    <app-cogs-logo-text-button></app-cogs-logo-text-button>
    <app-text-button link="home">Home</app-text-button>
    <app-text-button link="calendar">Calendar</app-text-button>
    <app-text-button link="pictures">Pictures</app-text-button>
    <app-text-button link="projects">Projects</app-text-button>
    <app-text-button link="resources">Resources</app-text-button>
    <app-text-button link="scarlet-game-jam">Scarlet Game Jam</app-text-button>
    <app-dark-mode-toggle style="position: absolute;
  right: 0;"></app-dark-mode-toggle>
    <ng-content></ng-content>
  </div>
</div>