<div class="app-horizontal-menu bg">
  <div class="app-horizontal-menu content">
    <div style="
      display: flex;  
      align-items: center;
      justify-content: left;
    ">
      <object data="assets/icons/cogs-logo-white.svg" height="42" style="float: left; margin-right: 10px;"> </object>
      <h1 class="app-horizontal-menu cogs-title">COGS</h1>
    </div>
    <app-text-button link="home" text="Home"></app-text-button>
    <app-text-button link="calendar" text="Calendar"></app-text-button>
    <app-text-button link="pictures" text="Pictures"></app-text-button>
    <app-text-button link="projects" text="Projects"></app-text-button>
    <app-text-button link="resources" text="Resources"></app-text-button>
    <app-text-button link="scarlet-game-jam" text="Scarlet Game Jam"></app-text-button>
    <app-dark-mode-toggle style="position: absolute;
  right: 0;"></app-dark-mode-toggle>
    <ng-content></ng-content>
  </div>
</div>