<div class="app-project-page main-bg">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 0.5em">remove_red_eye</mat-icon>
        Overview
      </ng-template>
      <app-overview-tab 
        [project]="project"
        [projectOptions]="projectOptions" 
        (edited)="fetchData()">
      </app-overview-tab>
    </mat-tab>
    <mat-tab *ngIf="projectOptions.isMember">
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 0.5em">person</mat-icon>
        Members
      </ng-template>
      <app-members-tab></app-members-tab>
    </mat-tab>
    <mat-tab *ngIf="projectOptions.hasEditPerms">
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 0.5em">settings</mat-icon>
        Settings
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>