markdown::ng-deep img {
	max-width: 100%;
}

.content-container {
	margin-left: auto;
	margin-right: auto;
	padding: var(--content-padding);
	max-width: var(--markdown-content-width);
}

.bg {
	position: relative;
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
	box-sizing: border-box;
	min-height: calc(50vh - var(--site-header-height)); /* Accounting for header */
	padding: var(--content-padding);
	background-size: cover;
	background-position: center;
}