<div class="app-articles bg" [style]="getBgStyle()"></div>
<div class="app-articles content-container">
  <app-scrollspy-nav-layout [headings]="headings">
    <h1 class="app-articles title mat-display-4">{{article?.title}}</h1>
    <div class="app-articles subtitle-container">
      <div class="app-articles subtitle-nested-container">
        <div class="app-articles authors">{{article?.getAuthorsString()}}</div>
        <div class="app-articles date">{{article?.date}}</div>
      </div>
      <app-tag-container style="text-align: left; flex: 1;">
        <app-tag color="primary" *ngFor="let tag of article?.tags">{{tag}}</app-tag>
      </app-tag-container>
    </div>
    <markdown
      katex
      lineNumbers
      src="{{articlesDir}}{{article?.filePath}}.md"
      (load)="onLoad()">
    </markdown>
  </app-scrollspy-nav-layout>
</div>