<app-bg-container full-page>
  <div *ngIf="projectOptions.isMember && getUserMember() as member" style="
    margin-bottom: 5em;
  ">
    <h2>Your Profile</h2>
    <div style="
      display: flex;
      flex-direction: row;
      gap: 1em;
    ">
      <app-project-member-profile [projectMember]="member" style="
        flex: 1;
      "></app-project-member-profile>
      <div style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
      " *ngIf="getPermsData(member) as permsData">
        <div [matTooltip]="permsData.updateMemberTooltip">
          <button mat-icon-button (click)="onEdit(member)" [disabled]="!permsData.canUpdateMember">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div [matTooltip]="permsData.kickMemberTooltip">
          <button mat-icon-button (click)="onKick(member)" [disabled]="!permsData.canKickMember">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <h2>Membership</h2>
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs [selectedIndex]="0">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>remove_red_eye</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE', 'key')">Members</div>
      </ng-template>
      <div style="margin-top: 2em;">
        <app-filter-header #membersFilter searchBar></app-filter-header>
        <div style="display: flex; flex-direction: column; gap: 0.25em;">
          <div *ngIf="filteredProjectMembers.length === 0">
            <h2 class="text-disabled">No results found...</h2>
          </div>
          <div *ngFor="let member of filteredProjectMembers">
            <app-inline-options-profile  [user]="member?.user!" *ngIf="getPermsData(member) as permsData">
              <div [matTooltip]="permsData.updateMemberTooltip">
                <button mat-icon-button (click)="onEdit(member)" [disabled]="!permsData.canUpdateMember">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div [matTooltip]="permsData.kickMemberTooltip">
                <button mat-icon-button (click)="onKick(member)" [disabled]="!permsData.canKickMember">
                  <mat-icon>logout</mat-icon>
                </button>
              </div>
            </app-inline-options-profile>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div [matBadge]="project?.invites?.length ?? 0 > 0 ? project?.invites?.length : undefined" matBadgeOverlap="false" style="
          display: flex;
          flex-direction: row;
          gap: 0.5em;
        ">
          <mat-icon>mail</mat-icon>
          <div *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE', 'key')">Invites</div>
        </div>
      </ng-template>
      <app-invites-tab [project]="project" [projectOptions]="projectOptions" (edited)="onInvitesEdited()"></app-invites-tab>
    </mat-tab>
  </mat-tab-group>
</app-bg-container>
