.container {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

.page-button {
	min-width: 48px;
	font-weight: 800;
}

::ng-deep .mat-form-field-wrapper{
   margin-bottom: -1.25em;
}