<div class="app-editable-social-button editable-social-button">
  <form [formGroup]="form" style="flex-grow: 1;">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Platform</mat-label>
      <mat-select [formControl]="platform">
        <mat-select-trigger *ngIf="platform.value">
          <ic-icon [icon]="getSocialPlatformData(platform.value).icon"></ic-icon>{{ getSocialPlatformData(platform.value).name }}
        </mat-select-trigger>
        <mat-option *ngFor="let platform of getSocialPlatforms() | keyvalue" [value]="platform.key">
          <ic-icon [icon]="platform.value.icon"></ic-icon>
          {{platform.value.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('platform')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="form.get('username')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; padding-top: 4px;">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url">
      <mat-error *ngIf="form.get('url')?.hasError('required')">
        Url is required
      </mat-error>
    </mat-form-field>
  </form>
</div>