<div class="app-user-page main-bg">
  <mat-tab-group mat-align-tabs="center" backgroundColor="primary" [selectedIndex]="0">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>remove_red_eye</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE', 'key')">Overview</div>
      </ng-template>
      <ng-template matTabContent>
        <app-overview-tab 
          [user]="user"
          [userOptions]="userOptions" 
          (edited)="fetchData(true)">
        </app-overview-tab>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="userOptions.canUpdateUser">
      <ng-template mat-tab-label>
        <mat-icon>mail</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE')">Invites</div>
      </ng-template>
      <ng-template matTabContent>
        <app-invites-tab
          [user]="user"
          [userOptions]="userOptions" 
          (edited)="fetchData(true)">
        </app-invites-tab>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="userOptions.canManageEBoard">
      <ng-template mat-tab-label>
        <mat-icon>assignment_ind</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE')">E-Board</div>
      </ng-template>
      <ng-template matTabContent>
        <app-eboard-tab
          [user]="user"
          [userOptions]="userOptions"
          (edited)="fetchData(true)"
        ></app-eboard-tab>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="userOptions.canUpdateUser">
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE')">Settings</div>
      </ng-template>
      <ng-template matTabContent>
        <app-settings-tab
          [user]="user"
          [userOptions]="userOptions"
          (edited)="fetchData(true)"
        ></app-settings-tab>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- <div style="display: flex; flex-direction: row; justify-content: center;" class="background-color-primary">
  <nav mat-tab-nav-bar color="primary" mat-align-tabs="center" backgroundColor="primary" mat-stretch-tabs mat-tab-content-width>
    <a mat-tab-link
      *ngFor="let tab of usersTabs"
      [routerLink]="tab.path"
      routerLinkActive #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      <mat-icon>{{tab.matIcon}}</mat-icon>
      <div style="margin-left: 0.5em;">{{tab.label}}</div>
    </a>
  </nav>
</div>

<router-outlet></router-outlet> -->