<!-- Turn on for events -->
<app-event-header></app-event-header>
<app-full-page-header color="primary" bgImage="assets/images/wide-club-interlaced.png">
  <h1 class="mat-display-4 app-home-page header">
    Building games <br />
    together since 2012...
  </h1>
</app-full-page-header>
<app-section title="About" color="blank" full-page>
  <app-card-grid column-width="17.1875em">
    <app-card>
      <h2>Who are we?</h2>
      <p class="mb-0">
        We are Creation of Games Society, a club at Rutgers University that is dedicated to researching, learning,
        understanding, and teaching video game development.
      </p>
    </app-card>
    <app-card>
      <h2>How do I join?</h2>
      <p class="mb-16">
        Join the mailing list or Discord. This is where we will provide information about our meetings and events that
        we plan to hold over the year.
      </p>
      <div style="display: flex; flex-direction: column; gap: 0.5em">
        <app-button iconifyIcon="mail" target="_blank" [link]="settings.General.mailingListLink"
          >Mailing List</app-button
        >
        <app-button iconifyIcon="discord" target="_blank" color="discord" [link]="settings.General.discordLink"
          >Discord</app-button
        >
      </div>
    </app-card>
    <app-card>
      <h2>Events</h2>
      <p class="mb-0">
        In addition to weekly club meetings, COGS will be hosting game nights and social events throughout the year.
      </p>
    </app-card>
  </app-card-grid>
</app-section>
<app-section color="foreground-accent-200" dog-ear>
  <app-column-layout>
    <div>
      <h1 class="mat-display-2 mb-16">Let's meet up!</h1>
      <p class="mb-0">
        We meet every Tuesdays at 7-9pm and every Sunday from 4-6pm at the RUTCOR building. Please use the map on the
        right if you need help getting there!
      </p>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12131.923935259512!2d-74.46769013022463!3d40.5199114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c70c05a35157%3A0xe17f149ca619644e!2sRUTCOR%2C%20Piscataway%2C%20NJ%2008854!5e0!3m2!1sen!2sus!4v1647202302200!5m2!1sen!2sus"
      style="border: 0; width: 100%; height: 300px"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </app-column-layout>
</app-section>
<app-section title="FAQ" color="primary" textColor="white" dog-ear last>
  <mat-accordion>
    <app-question-panel title="What's happening in the {{ currentSemester }} semester?">
      <p class="mb-0">
        We will be planning to meet in person at our regular time. Please join Discord for more upcoming information,
        and also to hang out and talk about game development!
      </p>
    </app-question-panel>
    <app-question-panel title="When and where does COGS meet?">
      <p class="mb-0">
        Tuesdays 7pm - 9pm on Discord and in the RUTCOR building.<br />
        Sundays 4pm - 6pm on Discord and in the RUTCOR building.
      </p>
    </app-question-panel>
    <app-question-panel title="What are the goals of the club?">
      <p>
        At COGS we like to enjoy, develop, and be inspired by both games and game development. We provide the resources
        for both leader-led projects, where a club leader with experience will guide the development of a game, and for
        other members' individual projects.
      </p>
    </app-question-panel>
    <app-question-panel title="What if I can't code?">
      <p>
        COGS is the perfect place for people who want to explore ALL aspects of game development. This means we accept
        all artists, music composers, programmers, etc with open arms! If you have an idea for a game, or just want to
        learn how to make them, COGS will help you find a place to apply what you're good at.
      </p>
    </app-question-panel>
    <app-question-panel title="How does COGS help me?">
      <p class="mb-0">
        Since what we do as a whole involves working, discussing, and creating projects in a team-based environment,
        your experience at COGS will be a good point of reference for your resume, and contribute to your portfolio of
        projects. Also, COGS is the perfect place to find friends who love games just as much as you do!
      </p>
    </app-question-panel>
    <app-question-panel title="What's our contact information?">
      <p>Please email us at <a href="mailto:rucogs@gmail.com">rucogs@gmail.com</a></p>
      <p class="mb-0">Alternatively, reach out to one of the e-board members on our Discord server.</p>
    </app-question-panel>
  </mat-accordion>
  <div style="margin-top: 3em"></div>
</app-section>
