<div style="
  position: relative;
  max-width: 100%;
  height: 100%;
" [ngStyle]="getCarouselContainerStyle()" *ngIf="currentSlides.length > 0">
  <!-- This div lets the absolute children take on the correct width -->
  <div style="
    position: relative;
    width: 100%;
    height: 100%;
  ">
    <div style="
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
      border-radius: 0.5em;
    ">
      <div style="
        position: absolute;
        width: 100%;
        top: 0;
      " #transitionAnimationRoot>
        <div style="
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          " [ngStyle]="getOffsetStyle()"
        >
          <div *ngFor="let slide of currentSlides;" style="
            display: inline;
            position: relative;
          ">
            <div [ngStyle]="getItemStyle()">
              <ng-template [ngTemplateOutlet]="slide.templateRef"></ng-template>
            </div>
          </div>
        </div>
      </div>
      
      <div style="
        position: absolute;
        width: 100%;
        top: 0;
      " #fadeOutTransitionAnimationRoot>
        <div style="
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          " [ngStyle]="getOffsetStyle()"
        >
          <div *ngFor="let slide of fadeoutSlides;" style="
            display: inline;
            position: relative;
          ">
            <div [ngStyle]="getItemStyle()">
              <ng-template [ngTemplateOutlet]="slide.templateRef"></ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      top: 0;
      height: 100%;
      width: 100%;
    ">
      <button mat-mini-fab color="blank" (click)="previous(true)" style="
        position: absolute;
        left: -1.25em;
        display: flex;
        align-items: center;
        justify-content: center;
      ">
        <mat-icon>keyboard_arrow_left</mat-icon> 
      </button>
      <button mat-mini-fab color="blank" (click)="next(true)"  style="
        position: absolute;
        right: -1.25em;
        display: flex;
        align-items: center;
        justify-content: center;
      ">
        <mat-icon>keyboard_arrow_right</mat-icon>  
      </button>
    </div>
    <div style="
      position: absolute;
      width: 100%;
      bottom: 1em;
      display: flex;
      flex-direction: row;
      justify-content: center;  
      gap: 0.5em;
    " #carouselButtonsContainer [ngStyle]="getCarouselButtonsContainerStyle()">
      <button mat-raised-button *ngFor="let slide of slides; let i = index" style="
        border-radius: 1em;
        height: 0.5em;
        overflow: hidden;
      " class="app-carousel carousel-button" [ngClass]="{'active': currentSlideIndex === i}" (click)="gotoSlide(i)"></button>
    </div>
  </div>
</div>