@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($config) {
  $misc: map.get($config, misc);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);

  .app-user.profile-picture {
		border-color: mat.get-color-from-palette($background, background) !important;
  }

  .app-user.no-results-text {
	  color: mat.get-color-from-palette($foreground, disabled-button)
  }

  .app-user.profile-picture-container,
  .app-user.profile-background-container {
    background-color: mat.get-color-from-palette($background, background)
  }

  .app-user.edit-profile-picture-button, 
  .app-user.edit-profile-background-button {
    border-color: mat.get-color-from-palette($misc, light) !important;
    color: mat.get-color-from-palette($misc, light) !important;
  }
}

@mixin typography($config) {

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($color-config);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($typography-config);
  }
}