<div class="app-user-page main-bg">
  <div *ngIf="isEditing; then editingPage; else displayPage"></div>
  <ng-template #editingPage>
    <form [formGroup]="form" enctype="multipart/form-data">
      <div class="app-user-page banner-container">
        <app-image-upload #bannerUpload fileSizeLimit="10 MB"></app-image-upload>
      </div>
      <div class="app-user-page content-width-padding">
        <div class="app-user-page content">
          <div class="app-user-page avatar-container">
            <app-image-upload #avatarUpload class="app-user-page avatar" fileSizeLimit="5 MB"></app-image-upload>
          </div>
          <div style="
            position: relative;
            display: flex; 
            flex-direction: row;
            margin-top: 5em; 
            flex-wrap: wrap; 
            gap: 4px;
            align-items: flex-start;
          " 
          class="mat-input-margin">
            <div style="flex-grow: 1;">
              <mat-form-field appearance="outline" class="no-padding">
                <mat-label>Display Name</mat-label>
                <input matInput formControlName="displayName">
                <mat-error *ngIf="form.get('displayName')?.hasError('required')">
                  Display name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div style="
              right: 0; 
              display: flex;
              flex-direction: row;
              flex-wrap: wrap-reverse;
              gap: 10px;
            ">
              <button class="app-user-page edit-button" mat-stroked-button color="basic" pill (click)="exitEdit()" [disabled]="monitor.isProcessing">Exit
              </button>
              <button class="app-user-page edit-button" mat-stroked-button color="basic" pill (click)="save()" [disabled]="monitor.isProcessing">Save Profile
              </button>
            </div>
          </div>
          <div class="app-user-page core-content">
            <div class="app-user-page about-container" style="margin-top: 0;">
              <mat-form-field appearance="outline" style="width: 100%; line-height: 1.5em">
                <mat-label>About</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"
                          formControlName="bio"></textarea>
              </mat-form-field>
            </div>
            <div class="app-user-page socials-container">
              <div style="display: flex;">
                <h2 style="margin-bottom: 0; flex-grow: 1;">Socials</h2>
                <button type="button" mat-icon-button class="app-user-page add-socials-button" (click)="onAddSocial()">
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
              <div class="app-user-page socials-button-container">
                <div *ngFor="let userSocialEdit of userSocialEdits; let i = index">
                  <app-editable-social-button [userSocialEdit]="userSocialEdit" (delete)="onDeleteSocial(i)" (edit)="onEditSocial()"></app-editable-social-button>
                </div>
              </div>
            </div>
            <div>
              <h2>Roles</h2>
              <app-role-codes-editor [roles]="selectedRoles" [allRoles]="acceptedRoles" (rolesEdited)="onEditRoles()" [disabledRoles]="['USER']"></app-role-codes-editor>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #displayPage>
    <div class="app-user-page banner-container" [ngStyle]="getBannerContainerStyle()">
      <img *ngIf="bannerSrc" [src]="bannerSrc" class="app-user-page banner">
    </div>
    <div class="app-user-page content-width-padding">
      <div class="app-user-page content">
        <div class="app-user-page avatar-container">
          <img *ngIf="avatarSrc" [src]="avatarSrc" class="app-user-page avatar">
        </div>
        <div style="
          position: relative;
          display: flex; 
          flex-direction: row; 
          align-items: flex-start;
          margin-top: 5em; 
          flex-wrap: wrap; 
          gap: 4px;">
          <div style="flex-grow: 1;">
            <h1 class="app-user-page display-name">{{ displayName }}</h1>
            <div class="app-user-page username-tag">@{{ username }}</div>
          </div>
          <div style="
            right: 0; 
            display: flex;
            flex-direction: row;
          ">
            <button class="app-user-page edit-button" mat-stroked-button color="basic" pill (click)="edit()" *ngIf="hasEditPerms">Edit Profile
            </button>
          </div>
        </div>
        <div class="app-user-page core-content">
          <p class="app-user-page about-container" style="margin-top: 0; margin-bottom: 0;">
            {{ bio }}
          </p>
          <div *ngIf="nonExistent">
            <h1>This account doesn't exist</h1>
            <p class="app-user-page no-results-text">Try searching for another</p>
          </div>
          <div class="app-user-page socials-container">
            <div class="app-user-page socials-button-container">
              <div *ngFor="let userSocial of userSocials">
                <app-social-button [userSocial]="userSocial"></app-social-button>
              </div>
            </div>
          </div>
          <div>
            <h2>Roles</h2>
            <app-roles-display [roles]="roles"></app-roles-display>
          </div>
          <div>
            <mat-divider style="margin-bottom: 32px;"></mat-divider>
            <div style="
              display: flex;
              flex-direction: row;
              margin-bottom: 1em;
            ">
              <h2 style="flex: 1; margin-bottom: 0;">Projects</h2>
              <button *ngIf="hasEditPerms" mat-stroked-button pill (click)="onNewProjectClick()">
                <mat-icon>add</mat-icon>
                New Project
              </button>
            </div>
            <app-projects-display [projectsQuery]="projectsQuery.bind(this)"></app-projects-display>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>