:host {
	flex: 1 1 auto;
}

.bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
	box-sizing: border-box;
	padding: 50px;
	height: 100%;
	z-index: 1;
}

.content {
	height: 100%;
	display: block;
	margin: auto;
}

@media (min-width: 720px) {
	.content {
		max-width: 80%;
	}
}