<app-section full-page>
  <div class="app-signup signup-container">
    <form [formGroup]="form" (ngSubmit)="onSignupSubmit()" class="app-signup signup-form">
      <h1 class="mb-32">Sign up</h1>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email addresss is required
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Email addresss is invalid
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="isSignupFailed">
          Signup failed: {{ errorMessage }}
        </mat-error>
      </mat-form-field>
      <button mat-flat-button type="submit" color="primary" tall-button>Sign up</button>
    </form>

    <div class="app-signup social-signup-container">
      <button (click)="socialSignup('google')" mat-flat-button type="submit" color="primary" tall-button>
        <span class="icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:google-fill"></span>
        Sign up with Google
      </button>
      <button (click)="socialSignup('discord')" mat-flat-button type="submit" color="#5865F2" text-color="#ffffff" tall-button>
        <span class="icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:discord-fill"></span>
        Sign up with Discord
      </button>
    </div>
  </div>
</app-section>