@use 'sass:map';
@use '@angular/material' as mat;
@use '../custom-components-theme' as custom-components;
@use '../general-css-theme' as general-css;
@import '../shared-palettes';

$cogs-theme-dark: create-complete-theme((
	color: (
		primary: $cogs-red, 
		accent: $cogs-grey,
		foreground-accent: $cogs-grey-reverse,
		warn: mat.define-palette(mat.$red-palette),
		misc: $misc,
		is-dark: true, 
		foreground: $dark-theme-foreground-palette, 
		background: $dark-theme-background-palette,
	),
	typography: $cogs-typography,
));

$cogs-theme-dark-bright-color: (
	primary: $cogs-bright-red, 
	accent: $cogs-grey,
	warn: mat.define-palette(mat.$red-palette),
	misc: $misc,
	is-dark: true, 
	foreground: $dark-theme-foreground-palette, 
	background: $dark-theme-background-palette,
);


@include custom-components.theme($cogs-theme-dark);
@include general-css.theme($cogs-theme-dark);
@include mat.all-component-themes($cogs-theme-dark);

// Darkmode form fields are unreadable using the regular cogs-red color for primary.
// Therefore we use cogs-bright-red to make it readable, and we have to manually
// override the form-field's colors.
@include mat.form-field-color($cogs-theme-dark-bright-color);
@include mat.option-color($cogs-theme-dark-bright-color);