@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config) {
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);

  .app-header-social-media-buttons.button {
    color: mat.get-color-from-palette($accent, 50);

    &:hover {
      color: darken(mat.get-color-from-palette($accent, 50), 20%);
      transition: 0.1s;
    }

    &:active{
      color: darken(mat.get-color-from-palette($accent, 50), 30%);
    }
  }
}

@mixin typography($config) {
  
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($color-config);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($typography-config);
  }
}