<a class="app-header-social-media-buttons button" mat-icon-button href="https://discord.gg/PjZrqyu" target="_blank">
  <span class="app-header-social-media-buttons icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:discord-fill"></span>
</a>
<a class="app-header-social-media-buttons button" mat-icon-button href="http://eepurl.com/cgDAk5" target="_blank">
  <span class="app-header-social-media-buttons icon" data-height="24px" class="app-button iconify icon" data-icon="ant-design:mail-filled"></span>
</a>