<a class="app-header-social-media-buttons button" mat-icon-button [href]="settings.General.discordLink" target="_blank">
  <span class="app-header-social-media-buttons icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:discord-fill"></span>
</a>
<a class="app-header-social-media-buttons button" mat-icon-button href="settings.General.mailingListLink" target="_blank">
  <span class="app-header-social-media-buttons icon" data-height="24px" class="app-button iconify icon" data-icon="ant-design:mail-filled"></span>
</a>