@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

	$primary: map.get($color-config, primary);
	$background: map.get($color-config, background);
	$foreground: map.get($color-config, foreground);
	
	mat-form-field {
		color: mat.get-color-from-palette($foreground, text);
	}

	a:link {
		color: mat.get-color-from-palette($primary, 500);
	}

	a:visited {
		color: mat.get-color-from-palette($primary, 500);
	}

	a:hover {
		color: mat.get-color-from-palette($primary, 100);
	}

	a:active {
		color: mat.get-color-from-palette($primary, 500);
	}
}