$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//----- MARGIN UTILITY -----//
$spaceamounts: (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 24, 32, 48, 52, 64, 128);
$sides: (top, bottom, left, right); // Leave this variable alone
@each $space in $spaceamounts {
	@each $side in $sides {
		.m#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{em($space)} !important;
		}
		.p#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{em($space)} !important;
		}
	}
}

@each $space in $spaceamounts {
	.m-#{$space} {
		margin: #{em($space)} !important;
	}
	.p-#{$space} {
		padding: #{em($space)} !important;
	}
}

//----- V-BOX UTILITY -----//
$spaceamounts: (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 24, 32, 48, 52, 64, 128);
@each $space in $spaceamounts {
	.vbox-#{$space} > * {
		display: block;
		margin-top: #{em($space)} !important;
	}

	.vbox-#{$space} > :first-child {
		margin-top: 0px !important;
	}
}