<app-page-header title="Members"></app-page-header>
<div style="display: flex; flex-direction: row; justify-content: center;" class="background-color-primary">
  <nav mat-tab-nav-bar color="primary" mat-align-tabs="center" backgroundColor="primary" mat-stretch-tabs mat-tab-content-width>
    <a mat-tab-link
      *ngFor="let tab of usersTabs"
      [routerLink]="tab.path"
      routerLinkActive #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      <mat-icon>{{tab.matIcon}}</mat-icon>
      <div style="margin-left: 0.5em;">{{tab.label}}</div>
    </a>
  </nav>
</div>

<router-outlet></router-outlet>