.flipdown {
	display: block; 
	padding-top: 2em; 
	padding-bottom: 3em;
	width: 100%;
}

.logo-painted {
	position: absolute;
	top: 30%;
	right: 15%;
	max-height: 40%;
  filter: drop-shadow(0 0 1rem black);
}