<app-full-page-header color="primary" bgImage="assets/images/sgj-bg-s2022.png" bgRepeatMode="repeat" bgPosition="0 0">
  <div class="app-scarlet-game-jam split-section">
    <div>
      <h1 class="mat-display-4 app-scarlet-game-jam text mb-4">Scarlet Game Jam</h1>
      <h1 class="mat-display-1 app-scarlet-game-jam text mb-0">2021</h1>
      <div id="sgj-countdown" class="app-scarlet-game-jam flipdown"></div>
      <div style="max-width: 300px;" class="vbox-16">
        <!-- <app-button iconifyIcon="ant-design:form-outlined" target="_blank" color="form" link="https://forms.gle/Pfgt7xiryoMdt1f26">Sign Up</app-button> -->
        <app-button iconifyIcon="akar-icons:discord-fill" target="_blank" color="discord" [link]="settings.General.discordLink">Discord</app-button>
      </div>
    </div>
    <div class="app-scarlet-game-jam logo-container" [ngClass]="breakpointManager.currentBreakpoint">
      <img src="assets/images/sgj-logo-s2022.png" class="app-scarlet-game-jam logo-painted" [ngClass]="breakpointManager.currentBreakpoint">
    </div>
  </div>
</app-full-page-header>
<!-- <app-section title="Collaborations" color="blank">
  <app-card-grid class="mt-32" column-width="250px">
    <app-card outlined hover="fill" color="primary">
      <h1>RUEsports</h1>
      <p class="mb-0">
        In an all new collaboration with <b>RUEsports</b>, games made in the Scarlet Game Jam can be showcased at the RUEsports Fireside Open event.
      </p>
    </app-card>
  </app-card-grid>
</app-section> -->
<app-section title="Itinerary" color="foreground-accent-300">
  <p class="mb-0">
    🚧 Coming soon 🚧
  </p>
  <!-- <app-card-grid columns="1">
    <app-event-card title="Jam Meetup and Discussion" date="{{startDate}}" time="4:00pm - 8:00pm" type="In-Person" event-page="https://rutgers.campuslabs.com/engage/event/7566450">
      First in-person meetup of Scarlet Game Jam. This is the time to meet other people participating in the jam and form groups. The meetup marks the official start of Scarlet Game Jam and will be the reveal of the big theme of the game jam.
    </app-event-card>
    <app-event-card title="Game Showcase & Final Remarks" date="{{endDate}}" time="12:00am - 10:00pm" type="In-Person" event-page="https://rutgers.campuslabs.com/engage/event/7566451">
      The main event of Scarlet Game Jam, this is where you will race to finish up your project, showcase your final work, and see everyone else's projects as well. This is the main event of Scarlet Game Jam and it will be a lot of fun. 
      <br><br> 
      Food will be served.
    </app-event-card>
  </app-card-grid> -->
</app-section>
<app-section title="Merch" color="blank" dog-ear>
  <p style="max-width: 400px; text-align: justify; margin-bottom: 24px;">Help support the COGs club by buying merchandise! We will use the money raised to make our future events bigger and better. 😄</p>
  <app-button link="" target="_blank" color="primary" style="width: 100%;">🚧 Coming Soon 🚧</app-button>
</app-section>
<app-section title="FAQ" color="primary" dog-ear last full-page>
  <app-card-grid columns="1">
    <app-card>
      <h2>What is Scarlet Game Jam?</h2>
      <p>Scarlet Game Jam is an annual game jam hosted by COGS for all Rutgers students and staff! Similar to any other game jam, participants will be given one week(ish) to design and code a game to show off at the end of the jam. At the beginning of each Scarlet Game Jam we will also be unveiling the (optional) theme to inspire or challenge our participants which changes with every scarlet game jam, so each year is a new experience!</p>
      <p class="mb-0">Participants can join our game jam solo or in a group, its up to you! No experience is required either, so feel free to join regardless of your game design experience. Have no experience and no friends to join with? No worries, at the beginning of every game jam we offer a team assembly time where you can get to know other jammers and team up (or not) to make some amazing games by the end of the week.</p>
    </app-card>
    <app-card>
      <h2>Where does Scarlet Game Jam take place?</h2>
      <p>Scarlet Game Jam takes place over a week(ish), but we're not going to keep you in place for that long. We understand you're busy college students (we are too!) so the large majority of Scarlet Game Jam actually takes place wherever you want it to. This means you can work in the comfort of your home (dorm, apartment, ...), the library, the dining hall, a table in the Yard, literally anywhere. We do this so that you can work around your schedule and, if working with other people, find the perfect time to meet for your group without having to worry about our availability or the availability of a single room.</p>
      <p class="mb-0">There are portions of Scarlet Game Jam in person, though, those being: <a href="{{startDateCalendarEventLink}}" title="Save Event in my Calendar" >{{startDate}}</a>, where you can brainstorm with other people, form a group if you want, and just hang out in general; And <a href="{{endDateCalendarEventLink}}" title="Save Event in my Calendar" >{{endDate}}</a>, the end, where you get to show off your game, see what other people have made, and reminisce over the long week you just had (and hopefully how fun it was!).</p>
    </app-card>
    <app-card>
      <h2>Who can come?</h2>
      <p class="mb-0">Scarlet Game Jam is open to ALL Rutgers students, faculty, and staff. Because of this, Scarlet Game Jam is a great networking/social event where you can meet fellow Rutgers people and form friendships, partnerships, or whatever. Nothing says you have to stop working on your game after the game jam either. If you like your project and you've worked with some likeminded people, we encourage you to finish that game, polish it up, and then release it online for everyone to play (of course make sure to send us the steam link and maybe a key or two 😉). </p>
    </app-card>
    <app-card>
      <h2>What if I can't code?</h2>
      <p class="mb-0">COGS is the perfect place for people who want to explore ALL aspects of game development. This means we accept all artists, music composers, programmers, etc with open arms! If you have an idea for a game, or just want to learn how to make them, COGS will help you find a place to apply what you're good at.</p>
    </app-card>
    <app-card>
      <h2>What can we do with our games?</h2>
      <p class="mb-0">Feel free to turn your game jam games into a full release if you think the game has potential. Also, games created during the Scarlet Game Jam can be showcased on our booth in the Fireside Open event hosted by RUEsports. </p>
    </app-card>
  </app-card-grid>
</app-section>