<div class="app-hamburger-menu bg">
  <div class="app-hamburger-menu content">
    <div class="app-hamburger-menu dropdown-bg" [@openClose]="openCloseTrigger">
      <div class="app-hamburger-menu dropdown-content">
        <div *ngFor="let pageLink of pageLinks">
          <app-text-button [link]="pageLink.link" (click)="expanded = false" route>{{pageLink.name}}</app-text-button>
        </div>
        <div>
          <app-header-social-media-buttons></app-header-social-media-buttons>
        </div>
        <div style="display: flex; flex-direction: row; height: 50px; align-items: center;">
          <!-- SUPER HACKY!!! :( -->
          <div style="margin-left: 8px;"></div>
          <app-dark-mode-toggle></app-dark-mode-toggle>
        </div>
        <div>
          <app-login-button (click)="expanded = false"></app-login-button>
        </div>
      </div>
    </div>
    <app-cogs-logo-text-button></app-cogs-logo-text-button>
    <div style="position: absolute; right: 0;">
      <button mat-icon-button (click)="expanded = !expanded">
        <mat-icon class="app-hamburger-menu hamburger-icon" *ngIf="!expanded">menu</mat-icon>
        <mat-icon class="app-hamburger-menu hamburger-icon" *ngIf="expanded">close</mat-icon>
      </button>
    </div>
    <ng-content></ng-content>
  </div>
</div>