:host {
	display: flex;
}

.article-image {
	height: 100%;
	width: 25%;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.subtitle-nested-container {
	display: flex;
	flex-direction: row;
	font-weight: 800;
	opacity: 0.6;
}

.date {
	margin-left: 1em;
}

.title {
	margin-bottom: 0.25em;
}

.subtitle-container {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	margin-bottom: 1em;
}

.card {
	cursor: pointer;
	display: flex;
	position: relative;
	width: auto;
	height: auto;
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	box-sizing: border-box;
}

.card-content {
	padding: 36px;
	width: 75%;
}

.outlined {
	border-width: 2px;
}