<app-bg-container full-page>
  <div *ngIf="projectOptions.isMember && getUserMember() as member" style="
    margin-bottom: 5em;
  ">
    <h2>Your Profile</h2>
    <div style="
      display: flex;
      flex-direction: row;
      gap: 1em;
    ">
      <app-project-member-profile [projectMember]="member" style="
        flex: 1;
      "></app-project-member-profile>
      <div style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
      " *ngIf="getProjectMemberOptions(member) as memberOptions">
        <div [matTooltip]="memberOptions.transferOwnershipTooltip">
          <button mat-icon-button (click)="onTransferOwnership(member)" [disabled]="!memberOptions.canTransferOwnership">
            <mat-icon>transfer_within_a_station</mat-icon>
          </button>
        </div>
        <div [matTooltip]="memberOptions.updateMemberTooltip">
          <button mat-icon-button (click)="onEdit(member)" [disabled]="!memberOptions.canUpdateMember">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div [matTooltip]="memberOptions.kickMemberTooltip">
          <button mat-icon-button (click)="onKick(member)" [disabled]="!memberOptions.canKickMember">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <h2>Membership</h2>
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs [selectedIndex]="0">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>remove_red_eye</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE', 'key')">Members</div>
      </ng-template>
      <div style="margin-top: 2em;">
        <app-filter-header #membersFilter searchBar></app-filter-header>
        <table mat-table [dataSource]="filteredProjectMembers" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8" style="width: 100%;">
          <!-- Member Column -->
          <ng-container matColumnDef="member">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by user">
              User
            </th>
            <td mat-cell *matCellDef="let element" style="max-width: 100px; overflow: hidden;"> 
              <app-inline-profile [user]="element.user"></app-inline-profile>
            </td>
          </ng-container>

          <!-- Buttons Column -->
          <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element;">
              <div style="
                display: flex;
                justify-content: right;
              " *ngIf="getProjectMemberOptions(element) as memberOptions">
                <div [matTooltip]="memberOptions.transferOwnershipTooltip">
                  <button mat-icon-button (click)="onTransferOwnership(element)" [disabled]="!memberOptions.canTransferOwnership">
                    <mat-icon>transfer_within_a_station</mat-icon>
                  </button>
                </div>
                <div [matTooltip]="memberOptions.updateMemberTooltip">
                  <button mat-icon-button (click)="onEdit(element)" [disabled]="!memberOptions.canUpdateMember">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div [matTooltip]="memberOptions.kickMemberTooltip">
                  <button mat-icon-button (click)="onKick(element)" [disabled]="!memberOptions.canKickMember">
                    <mat-icon>logout</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab *ngIf="projectOptions.canUpdateProject">
      <ng-template mat-tab-label>
        <div [matBadge]="project?.invites?.length ?? 0 > 0 ? project?.invites?.length : undefined" matBadgeOverlap="false" style="
          display: flex;
          flex-direction: row;
          gap: 0.5em;
        ">
          <mat-icon>mail</mat-icon>
          <div *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE', 'key')">Invites</div>
        </div>
      </ng-template>
      <app-invites-tab [project]="project" [projectOptions]="projectOptions" (edited)="onInvitesEdited()"></app-invites-tab>
    </mat-tab>
  </mat-tab-group>
</app-bg-container>
