<div style="
  display: flex;
  flex-direction: row;
  gap: 24px;
">
  <app-basic-profile [user]="projectMember.user ?? {}"></app-basic-profile>
  <div style="
    display: flex;
    flex-direction: column;
    max-height: 100%;
  ">
    <h2>Contributions</h2>
    <p class="app-project-member-profile text-disabled" *ngIf="!projectMember.contributions">Empty for now...</p>
    <p style="
      flex: 1;
    ">{{ projectMember.contributions }}</p>
    <app-roles-display [roles]="getRoles()"></app-roles-display>
  </div>
</div>