<div class="app-site-left-side-bar bg" style="
  display: flex;
  justify-content: right;
  padding: 16px;
">
  <div style="
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 200px;
  ">
    <button mat-flat-button round-tl round-bl tall-button color="primary" style="
      width: 100%;
    ">
      <div style="
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      ">
        <mat-icon>person</mat-icon>
        <div style="flex: 1">Profile</div>
      </div>
    </button>
    <button mat-flat-button round-tl round-bl tall-button color="primary" style="
      width: 100%;
    ">
      <div style="
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      ">
        <mat-icon>person</mat-icon>
        <div style="flex: 1;">Profile</div>
      </div>
    </button>
    <button mat-flat-button round-tl round-bl tall-button color="primary" style="
      width: 100%;
    ">
      <div style="
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      ">
        <mat-icon>person</mat-icon>
        <div style="flex: 1;">Profile</div>
      </div>
    </button>
  </div>
</div>
