:host {
	position: sticky;
	top: 0px;
	height: 100%;
	flex: 1;
	z-index: 300;
	pointer-events: none;
	padding-top: var(--site-header-height);
	min-width: 300px;
}

.bg {
	height: 100%;
	pointer-events: all;
}