<div class="app-site-left-side-bar bg" style="
  display: flex;
  box-sizing: border-box;
  justify-content: right;
  flex-direction: column;
">
  <div style="
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 16px;
  ">
    <app-side-bar-button icon="person" name="Profile" color="primary" (click)="onProfileClick()"></app-side-bar-button>
    <app-side-bar-button icon="mail" name="Invites" color="primary"></app-side-bar-button>
    <app-side-bar-button icon="settings" name="Settings" color="primary"></app-side-bar-button>
    <app-side-bar-button icon="add" name="New Project" color="primary"></app-side-bar-button>
  </div>
</div>