<mat-dialog-content>
  <form [formGroup]="form" style="
    position: relative;
  ">
    <app-inline-profile [user]="data.projectMember.user!"></app-inline-profile>
    <mat-form-field appearance="outline" style="width: 100%; line-height: 1.5em; margin-top: 0.5em;">
      <mat-label>Contributions</mat-label>
      <textarea matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="contributions"
        [maxlength]="450"></textarea>
      <mat-hint align="end">{{ form.get('contributions')?.value?.length || 0}}/450</mat-hint>
    </mat-form-field>
    <app-role-codes-editor label="Roles" [roles]="roles" [allRoles]="acceptedRoles" (rolesEdited)="rolesEdited = true" [disabledRoles]="disabledRoles" [disabled]="!data.projectMemberOptions.canManageMemberRoles"></app-role-codes-editor>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="basic" pill (click)="exit()" [disabled]="monitor.isProcessing">Exit
  </button>
  <button mat-stroked-button color="basic" pill (click)="save()" [disabled]="monitor.isProcessing">Save
  </button>
</mat-dialog-actions>