@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config) {
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .card {
    background: mat.get-color-from-palette($background, card);
    color: mat.get-color-from-palette($foreground, text);
    border-color: mat.get-color-from-palette($foreground, divider)
  }
}

@mixin typography($config) {
  .card {
    font-family: mat.font-family($config);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($color-config);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($typography-config);
  }
}