<!-- <div class="app-project-item card">
  <div class="app-project-item image-wrapper">
    <img class="app-project-item image" [src]="project.imageUrl">
  </div>
  <div class="app-project-item card-content">
    <h2>{{project.title}}</h2>
    <p class="mb-24" style="flex: 1;">{{project.description}}</p>
    <app-tag-container>
      <app-tag color="primary">{{project.creationDate.getFullYear()}}</app-tag>
      <app-tag *ngFor="let member of project.members" color="accent">{{member.displayName}}</app-tag>
    </app-tag-container>
    <app-button *ngIf="project.url !== ''" class="mt-12" iconifyIcon="carbon:view-filled" target="_blank" color="primary" [link]="project.url">View Project</app-button>
  </div>
</div> -->