<a class="app-article-item card blank" (keyup.enter)="onClick()" (keyup.space)="onClick()" (click)="onClick()" tabindex="0">
  <div class="app-article-item article-image" [hidden]="article.imagePath == ''" style="background-image: url('{{this.article.imagePath}}')" *ngIf="breakpointManager.matchedBreakpointOrAbove('DESKTOP')"></div>
  <div class="app-article-item card-content">
    <h2 class="app-article-item title">{{article.title}}</h2>
    <div class="app-article-item subtitle-container">
      <div class="app-article-item subtitle-nested-container">
        <div class="app-article-item authors">{{article.getAuthorsString()}}</div>
        <div class="app-article-item date">{{article.date}}</div>
      </div>
      <app-tag-container style="text-align: left; flex: 1;">
        <app-tag color="primary" *ngFor="let tag of article.tags">{{tag}}</app-tag>
      </app-tag-container>
    </div>
    <p>{{article.description}}</p>
  </div>
</a>