<app-section full-page>
  <div class="app-login login-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="app-login login-form">
      <h1 class="mb-32">Login</h1>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          Username is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
      <button mat-flat-button type="submit" color="primary">Login</button>
    </form>

    <div class="app-login social-login-container">
      <button (click)="socialLogin('google')" href="http://localhost:8080/auth/google" target="_blank" mat-flat-button type="submit" color="primary">
        <span class="icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:google-fill"></span>
      </button>
      <button (click)="socialLogin('discord')" mat-flat-button type="submit" color="primary">
        <span class="icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:discord-fill"></span>
      </button>
    </div>
  </div>
</app-section>