:host {
  display: flex;
}

.card {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 36px;
  box-sizing: border-box;
}

.outlined {
  border-width: 2px;
}