.button {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0px 20px;
	height: 50px;
  width: 100%;
	border-radius: 50px;
	display: flex;  
  align-items: center;
  justify-content: center;
	outline: 0px;
}

.icon {
  margin-right: auto;
}

.text {
  margin-left: 10px;
  margin-right: auto;
}