.button {
	background-color: #B3002D;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-family: 'Urbanist', sans-serif;
	font-weight: 700;
	padding: 0px 20px;
	height: 50px;
  width: 100%;
	border-radius: 50px;
	margin: 4px 2px;
	display: flex;  
  align-items: center;
  justify-content: center;
	outline: 0px;
}

.icon {
  margin-right: auto;
}

.text {
  margin-left: 10px;
  margin-right: auto;
}