<div class="app-user-page main-bg">
  
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of tabLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      <mat-icon>remove_red_eye</mat-icon>
      <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE', 'key')">Overview</div>
    </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

  <!-- <mat-tab-group mat-align-tabs="center" backgroundColor="primary" [selectedIndex]="0">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>remove_red_eye</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE', 'key')">Overview</div>
      </ng-template>
      <ng-template matTabContent>
        <app-overview-tab 
          [user]="user"
          [userOptions]="userOptions" 
          (edited)="fetchData(true)">
        </app-overview-tab>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="userOptions.hasEditPerms">
      <ng-template mat-tab-label>
        <mat-icon>mail</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE')">Invites</div>
      </ng-template>
      <ng-template matTabContent>
        <app-invites-tab
          [user]="user"
          [userOptions]="userOptions" 
          (edited)="fetchData(true)">
        </app-invites-tab>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="userOptions.hasEditPerms">
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE')">Settings</div>
      </ng-template>
      <ng-template matTabContent>
        <app-settings-tab
          [user]="user"
          [userOptions]="userOptions"
          (edited)="fetchData(true)"
        ></app-settings-tab>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->
</div>