<div class="app-user-page main-bg">
  <mat-tab-group mat-align-tabs="center" backgroundColor="primary" [selectedIndex]="0">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>remove_red_eye</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE', 'key')">Overview</div>
      </ng-template>
      <app-overview-tab 
        [user]="user"
        [userOptions]="userOptions" 
        (edited)="fetchData(true)">
      </app-overview-tab>
    </mat-tab>
    <mat-tab *ngIf="userOptions.hasEditPerms">
      <ng-template mat-tab-label>
        <mat-icon>mail</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE')">Invites</div>
      </ng-template>
      <app-invites-tab
        [user]="user"
        [userOptions]="userOptions" 
        (edited)="fetchData(true)">
      </app-invites-tab>
    </mat-tab>
    <mat-tab *ngIf="userOptions.hasEditPerms">
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        <div style="margin-left: 0.5em;" *ngIf="breakpointManager.matchedBreakpointOrAbove('MOBILE')">Settings</div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>