<mat-dialog-content>
  <h3>Invite a User</h3>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>User</mat-label>
      <app-user-input formControlName="user" [rutgersVerified]="true"></app-user-input>
      <mat-error *ngIf="form.get('user')?.hasError('required')">
        User is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="basic" pill (click)="exit()" [disabled]="monitor.isProcessing">Exit
  </button>
  <button mat-stroked-button color="basic" pill (click)="invite()" [disabled]="monitor.isProcessing">Invite
  </button>
</mat-dialog-actions>