@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;
@use 'styles/variables' as variables;

@mixin color($config) {
  $primary: map.get($config, primary);

  .app-scarlet-showcase.text {
    color: mat.get-color-from-palette($primary, 500-contrast);
  }

  .logo-container {
    max-height: 50em;
    flex-grow: 1;
    margin-top: -7em;
  }

  @media screen and (max-width: variables.$mobile-width) {
    .logo-container {
      margin-top: -3em;
    }
  }

  .theme {
    ul,
    div,
    ol,
    li,
    p {
      font-family: 'Now';
      font-weight: 400;
      font-size: 1em;
      color: white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Steelfish';
      font-size: 3em;
      text-transform: uppercase;
      color: white;
    }
  }
}

@mixin typography($config) {
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($color-config);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($typography-config);
  }
}
