<app-full-page-header color="var(--primary-color)" bgImage="assets/images/wide-club.png" textColor="white">
  <h1 class="large-title" style="color: white">Building games <br> together since 2012...</h1>
</app-full-page-header>
<app-section title="About" color="var(--light)" textColor="black">
  <app-card-grid>
    <app-card>
      <h1 class="small-title">Who are we?</h1>
      <p style="margin-bottom: 0px !important;">We are Creation of Games Society, a club at Rutgers University that is dedicated to researching, learning, understanding, and teaching the techniques and theories used in video game development.</p>
    </app-card>
    <app-card>
      <h1 class="small-title">How do I join?</h1>
      <p style="margin-bottom: 16px;">Join the mailing list or Discord. This is where we will provide information about our meetings and events that we plan to hold over the year.</p>
      <div class="vbox-8">
        <app-button text="Mailing List" iconifyIcon="ant-design:mail-filled" background-color="var(--primary-color)" link="http://eepurl.com/cgDAk5"></app-button>
        <app-button text="Discord" iconifyIcon="akar-icons:discord-fill" background-color="var(--discord-color)" link="https://discord.gg/PjZrqyu"></app-button>
      </div>
    </app-card>
    <app-card>
      <h1 class="small-title">Events</h1>
      <p style="margin-bottom: 0px !important;">In addition to weekly club meetings, COGS will be hosting game nights and social events throughout the year.</p>
    </app-card>
  </app-card-grid>
</app-section>
<app-section title="FAQ" color="var(--primary-color)" textColor="white" dog-ear last>
  <app-card-grid>
    <app-card>
      <h1 class="small-title">Who are we?</h1>
      <p style="margin-bottom: 0px !important;">We are Creation of Games Society, a club at Rutgers University that is dedicated to researching, learning, understanding, and teaching the techniques and theories used in video game development.</p>
    </app-card>
    <app-card>
      <h1 class="small-title">How do I join?</h1>
      <p style="margin-bottom: 16px;">Join the mailing list or Discord. This is where we will provide information about our meetings and events that we plan to hold over the year.</p>
      <div class="vbox-8">
        <app-button text="Mailing List" iconifyIcon="ant-design:mail-filled" background-color="var(--primary-color)"></app-button>
        <app-button text="Discord" iconifyIcon="akar-icons:discord-fill" background-color="var(--discord-color)"></app-button>
      </div>
    </app-card>
    <app-card>
      <h1 class="small-title">Events</h1>
      <p style="margin-bottom: 0px !important;">In addition to weekly club meetings, COGS will be hosting game nights and social events throughout the year.</p>
    </app-card>
  </app-card-grid>
</app-section>
<!-- 
  <mat-card>
    <mat-card-title>Events</mat-card-title>
    <mat-card-content>In addition to weekly club meetings, COGS will be hosting game nights and social events throughout the year.</mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>mic</mat-icon>
        Start Recording
      </button>
    </mat-card-actions>
  </mat-card>
 -->