<app-full-page-header color="primary" bgImage="assets/images/wide-club-interlaced.png">
  <h1 class="mat-display-4 app-home header">Building games <br> together since 2012...</h1>
</app-full-page-header>
<app-section title="About" color="blank" full-page>
  <app-card-grid>
    <app-card>
      <h2>Who are we?</h2>
      <p class="mb-0">We are Creation of Games Society, a club at Rutgers University that is dedicated to researching, learning, understanding, and teaching the techniques and theories used in video game development.</p>
    </app-card>
    <app-card>
      <h2>How do I join?</h2>
      <p class="mb-16">Join the mailing list or Discord. This is where we will provide information about our meetings and events that we plan to hold over the year.</p>
      <div class="vbox-8">
        <app-button iconifyIcon="ant-design:mail-filled" target="_blank" link="http://eepurl.com/cgDAk5">Mailing List</app-button>
        <app-button iconifyIcon="akar-icons:discord-fill" target="_blank" color="discord" link="https://discord.gg/PjZrqyu">Discord</app-button>
      </div>
    </app-card>
    <app-card>
      <h2>Events</h2>
      <p class="mb-0">In addition to weekly club meetings, COGS will be hosting game nights and social events throughout the year.</p>
    </app-card>
  </app-card-grid>
</app-section>
<app-section title="FAQ" color="primary" textColor="white" dog-ear last full-page>
  <app-card-grid columns="1">
    <app-card>
      <h2>What's happening in the fall 2021 semester?</h2>
      <p class="mb-0">We will be planning to meet in person at our regular time. Please join Discord for more upcoming information, and also to hang out and talk about game development!</p>
    </app-card>
    <app-card>
      <h2>When and where does COGS meet?</h2>
      <p class="mb-0">
        Tuesdays 7pm - 9pm on Discord and in the CAVE on the second floor of the Hill Bldg Annex in Room 252.<br>
        Sundays 4pm - 8pm on Cook Douglass Lecture Hall in Room 103.
      </p>
    </app-card>
    <app-card>
      <h2>What are the goals of the club?</h2>
      <p>At COGS we like to enjoy, develop, and be inspired by both games and game development. We provide the resources for both leader-led projects, where a club leader with experience will guide the development of a game, and for other members' individual projects.</p>
    </app-card>
    <app-card>
      <h2>What if I can't code?</h2>
      <p>COGS is the perfect place for people who want to explore ALL aspects of game development. This means we accept all artists, music composers, programmers, etc with open arms! If you have an idea for a game, or just want to learn how to make them, COGS will help you find a place to apply what you're good at.</p>
    </app-card>
    <app-card>
      <h2>How does COGS help me?</h2>
      <p class="mb-0">Since what we do as a whole involves working, discussing, and creating projects in a team-based environment, your experience at COGS will be a good point of reference for your resume, and contribute to your portfolio of projects. Also, COGS is the perfect place to find friends who love games just as much as you do!</p>
    </app-card>
  </app-card-grid>
</app-section>
<!-- 
  <mat-card>
    <mat-card-title>Events</mat-card-title>
    <mat-card-content>In addition to weekly club meetings, COGS will be hosting game nights and social events throughout the year.</mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>mic</mat-icon>
        Start Recording
      </button>
    </mat-card-actions>
  </mat-card>
 -->