@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($config) {
  $foreground: map.get($config, background);

  .app-projects.no-results-text {
	color: mat.get-color-from-palette($foreground, disabled-button)
  }
}

@mixin typography($config) {
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($color-config);
  }
  
  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($typography-config);
  }
}