<p class="mb-0" style="text-align: center;">Follow Us</p>
<div style="
	display: flex;
	flex-direction: row;">
  <a mat-icon-button [href]="settings.General.instagramLink" target="_blank">
    <ic-icon class="icon" size="24px" icon="instagram"></ic-icon>
  </a>
  <a mat-icon-button [href]="settings.General.twitterLink" target="_blank">
    <ic-icon class="icon" size="24px" icon="twitter"></ic-icon>
  </a>
  <a mat-icon-button [href]="settings.General.discordLink" target="_blank">
    <ic-icon class="icon" size="24px" icon="discord"></ic-icon>
  </a>
  <a mat-icon-button [href]="settings.General.mailingListLink" target="_blank">
    <ic-icon class="icon" size="24px" icon="mail"></ic-icon>
  </a>
</div>