<p class="mb-0" style="text-align: center;">Follow Us</p>
<div style="
	display: flex;
	flex-direction: row;">
  <a mat-icon-button href="https://www.instagram.com/rutgerscogs/" target="_blank">
    <span class="icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:instagram-fill"></span>
  </a>
  <a mat-icon-button href="https://twitter.com/RutgersCOGS" target="_blank">
    <span class="icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:twitter-fill"></span>
  </a>
  <a mat-icon-button href="https://discord.gg/PjZrqyu" target="_blank">
    <span class="icon" data-height="24px" class="app-button iconify icon" data-icon="akar-icons:discord-fill"></span>
  </a>
  <a mat-icon-button href="http://eepurl.com/cgDAk5" target="_blank">
    <span class="icon" data-height="24px" class="app-button iconify icon" data-icon="ant-design:mail-filled"></span>
  </a>
</div>