:host {
	overflow: visible;
}

div.bg {
	margin-top: var(--site-header-height);
	padding: 50px;
}

div.content {
	display: block;
	margin: auto;
}

@media (min-width: 720px) {
	div.content {
		max-width: 80%;
	}
}