@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;
@use 'styles/variables' as variables;

@mixin color($config) {
  $misc: map.get($config, misc);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);

  .eboard-term-group.profile-container {
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
		@media screen and (max-width: variables.$medium-mobile-width) {
      grid-template-columns: repeat(auto-fit, minmax(calc(16em * 0.8), 1fr));  
    }
  }

  .eboard-term-group.container {
		@media screen and (max-width: variables.$medium-mobile-width) {
			font-size: 0.8em;
		}
  }
}

@mixin typography($config) {

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($color-config);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($typography-config);
  }
}