<app-page-header title="Resources"></app-page-header>
<app-bg-container color="blank">
  <mat-accordion>
    <app-resource-panel iconifyIcon="bx:bxl-unity" title="Unity">
      <app-resource-item type="article" href="https://unity.com/">Unity Game Engine</app-resource-item>
      <app-resource-item type="article" href="https://docs.unity3d.com/Manual/index.html">Unity Documentation</app-resource-item>
      <app-resource-item type="article" href="https://unity3d.com/learn/tutorials">Unity Official Tutorials</app-resource-item>
      <app-resource-item type="video" href="https://www.youtube.com/watch?v=9CHvFVDuqM0">Intro to Unity Workshop</app-resource-item>
      <app-resource-item type="video" href="https://www.youtube.com/watch?v=eciP7ixTNec">Unity 2021 Games Showreel</app-resource-item>
      <app-resource-item type="tutorial" href="https://learn.unity.com/project/roll-a-ball">Unity Tutorial: Roll-a-ball</app-resource-item>
    </app-resource-panel>
    <app-resource-panel iconifyIcon="fontisto:unreal-engine" title="Unreal Engine">
      <app-resource-item type="article" href="https://www.unrealengine.com/">Unreal Engine</app-resource-item>
      <app-resource-item type="article" href="https://docs.unrealengine.com/latest/INT/">Unreal Engine Documentation</app-resource-item>
      <app-resource-item type="article" href="https://docs.unrealengine.com/latest/INT/Videos/">Unreal Engine Official Tutorials</app-resource-item>
      <app-resource-item type="article" href="https://wiki.unrealengine.com/Main_Page">Unreal Engine Community Wiki</app-resource-item>
      <app-resource-item type="video" href="https://www.youtube.com/watch?v=MlQrQkqtGvI">Unreal Engine 5 2021 Game Showreel</app-resource-item>
      <app-resource-item type="article" href="https://docs.unrealengine.com/latest/INT/GettingStarted/FromUnity/index.html">Unreal Engine 4 for Unity Developers</app-resource-item>
      <app-resource-item type="video" href="https://docs.unrealengine.com/latest/INT/Videos/PLZlv_N0_O1gasgOGCjKcm7w5VlDIx3T2H/vUYK-D6U2RA/index.html">Unreal Engine Tutorial: Blueprint Radial Impact</app-resource-item>
      <app-resource-item type="video" href="https://www.youtube.com/watch?v=2sp3g5pSQEk">Unreal Engine Tutorial: First Person Shooter</app-resource-item>
    </app-resource-panel>
    <app-resource-panel iconifyIcon="bx:bxl-blender" title="Blender">
      <app-resource-item type="article" href="https://www.blender.org/">Blender Project</app-resource-item>
      <app-resource-item type="article" href="https://git.blender.org/gitweb/gitweb.cgi/blender.git">Blender Source Repository</app-resource-item>
      <app-resource-item type="article" href="https://docs.blender.org/manual/en/dev/">Blender User Manual</app-resource-item>
      <app-resource-item type="article" href="https://www.blender.org/support/tutorials/">Blender Official Tutorials</app-resource-item>
      <app-resource-item type="video" href="https://www.youtube.com/watch?list=PLa1F2ddGya_8V90Kd5eC5PeBjySbXWGK1&amp;v=kes2qmijy7w">Blender Tutorial: Fundamentals</app-resource-item>
      <app-resource-item type="video" href="https://cloud.blender.org/p/game-asset-creation/56041550044a2a00d0d7e068">Blender Tutorial: Game Asset Creation</app-resource-item>
    </app-resource-panel>
    <app-resource-panel iconifyIcon="akar-icons:html-fill" title="Html5">
      <app-resource-item type="article" href="https://developer.mozilla.org/en-US/docs/Games/Introduction">Introduction to Game Development for the Web</app-resource-item>
      <app-resource-item type="article" href="https://www.html5rocks.com/en/tutorials/canvas/notearsgame/">No Tears Guide to HTML5 Games</app-resource-item>
      <app-resource-item type="article" href="https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_Breakout_game_pure_JavaScript">2D Breakout Using Pure Javascript</app-resource-item>
      <app-resource-item type="article" href="http://www.pixijs.com/">PixiJS 2D Game Engine</app-resource-item>
      <app-resource-item type="article" href="https://github.com/kittykatattack/learningPixi">PixiJS Tutorial: Getting Started</app-resource-item>
      <app-resource-item type="article" href="https://phaser.io/">Phaser 2D Game Engine</app-resource-item>
      <app-resource-item type="article" href="https://phaser.io/tutorials/making-your-first-phaser-game">Phaser Tutorial: Make Your First Game</app-resource-item>
      <app-resource-item type="article" href="https://www.babylonjs.com/">Babylon.js 3D Game Engine</app-resource-item>
      <app-resource-item type="article" href="https://doc.babylonjs.com/tutorials">Babylon.js Official Tutorials</app-resource-item>
    </app-resource-panel>
  </mat-accordion>
</app-bg-container>