<div breakable-styles 
  style="
    display: flex;
    gap: 0.5em 1.5em;
  "
  prebreak-style="
    flex-direction: row; 
  "
  break-style="
    flex-direction: column;
  "
  break-on="width < 840"
>
  <app-avatar size="large" [avatarSrc]="cdn.getFileLink(eBoard.avatarLink)"></app-avatar>
  <div style="
    display: flex;
    flex-direction: column;
    max-height: 100%;
  ">
    <h2>Bio</h2>
    <p class="app-eboard-profile text-disabled" *ngIf="!eBoard.bio">Empty for now...</p>
    <p style="
      flex: 1;
    ">{{ eBoard.bio }}</p>
    <app-roles-display *ngIf="hasRoles()" [roles]="getRoles()"></app-roles-display>
    <div *ngIf="!hasRoles()" style="
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      flex-wrap: wrap;
    ">
      <app-tag color="blank">💫 EBoard Alumni</app-tag>
      <app-tag color="blank" *ngIf="getEBoardReign()">{{ getEBoardReign() }}</app-tag>
    </div>
  </div>
</div>