<app-filter-header searchBar></app-filter-header>

<app-card-grid column-width="20em" style="width: 100%;">
  <app-project-item *ngFor="let project of projects" [project]="project"></app-project-item>
  <div *ngIf="loaded && projects.length === 0">
    <h1 class="text-disabled">No results found...</h1>
  </div>
</app-card-grid>

<app-card-grid *ngIf="!loaded" column-width="20em" style="width: 100%; margin-top: 0.75em;">
  <div *ngFor="let item of [].constructor(6)" style="
    height: 30em;
    width: 100%;
    border-radius: 0.5em;
  " class="loading"></div>
</app-card-grid>