<app-full-page-header color="primary" bgImage="assets/images/sgj-bg-s2023.png" bgRepeatMode="repeat" bgPosition="0 0">
  <div class="app-scarlet-game-jam split-section">
    <div style="
      display: flex;
      flex-direction: column;
    ">
      <h1 class="mat-display-4 app-scarlet-game-jam text mb-4">Scarlet Game Jam</h1>
      <h1 class="mat-display-1 app-scarlet-game-jam text mb-16">{{getSemesterString()}}</h1>
      <div [ngStyle]="{
        'display': eventActive ? 'none' : ''
        }" id="sgj-countdown" class="app-scarlet-game-jam flipdown"></div>
      <div style="
        display: flex;
        flex-direction: column;
        max-width: 20em;
        gap: 1em;
      ">
        <app-button iconifyIcon="form" target="_blank" color="form" link="{{signupLink}}" [hidden]="signupLink == ''">
          <div *ngIf="eventActive; else lateSignUp">
            Late Sign Up
          </div>
          <ng-template #lateSignUp>
            Sign Up
          </ng-template>
        </app-button>
        <app-button iconifyIcon="discord" target="_blank" color="discord" [link]="settings.General.discordLink">Discord</app-button>
        <app-button *ngIf="eventActive" iconifyIcon="itchdotio" target="_blank" color="blank" [link]="itchioLink">Itchio Page</app-button>
      </div>
    </div>
    <div class="app-scarlet-game-jam logo-container" *ngIf="breakpointManager.matchedBreakpointOrAbove('SMALL_DESKTOP')">
      <img src="assets/images/sgj-logo-s2023.png" class="app-scarlet-game-jam logo-painted" [ngClass]="breakpointManager.currentBreakpoint">
    </div>
  </div>
</app-full-page-header>
<app-section title="Collaborations" color="blank" full-width>
  <app-card-grid column-width="250px">
    <app-card outlined hover="fill" color="primary">
      <h1>🕹️ RU ESports</h1>
      <p class="mb-0">
        Games made in the Scarlet Game Jam can be showcased at the RUEsports' Scarlet Classic event.
      </p>
    </app-card>
    <app-card outlined hover="fill" color="primary">
      <h1>🎸 VGM Club</h1>
      <p class="mb-0">
        The Ruters Video Game Music Club is going play live music during the game jam. Check the itinerary for more details!
      </p>
    </app-card>
  </app-card-grid>
</app-section>
<app-section title="Itinerary" color="foreground-accent-200">
  <p class="mb-0">
  </p>
  <app-card-grid columns="1">
    <app-event-card title="Jam Meetup and Discussion" date="{{startDate}}" time="{{startDateTime}}" type="In-Person" event-page="{{startDateEventPage}}">
      <div>
        First in-person meetup of Scarlet Game Jam. This is the time to meet other people participating in the jam and form groups. The meetup marks the official start of Scarlet Game Jam and will be the reveal of the big theme of the game jam.
        <br><br>
        Located at the BSC 120 room.
        <br>
        Food will be served.
      </div>
      <iframe rightHalf src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1404.004119109974!2d-74.4579216994086!3d40.52354670918095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c70b9391c1db%3A0xed97af4bcd2f4154!2sRutgers%20University%20Busch%20Student%20Center!5e0!3m2!1sen!2sus!4v1680407359979!5m2!1sen!2sus" style="border:0; width:100%; height:100%; min-height: 300px;" allowfullscreen="" loading="lazy"></iframe>
    </app-event-card>
    <app-event-card title="Live Music Performance by VGM Club" date="Apr 18" time="7 - 9pm" type="In-Person" event-page="https://rutgers.campuslabs.com/engage/event/9029322">
      <div>
        Rutgers Video Game Music Club (RUVGM) will be hosting a musical performance of popular video game soundtracks as part of the RUCOGS Spring Scarlet Game Jam!
        <br><br>
        RUVGM is a club dedicated to analysis, performance, and enjoyment of video game music! Meetings are every Tuesday at 7pm in the Bauer Music Room!
        <br><br>
        RUVGM Discord Link:
        https://discord.gg/anbfWabYe9
        <br><br>
        Located at the Bauer Music Room in Mortenson Hall (MGSA)
      </div>
      <iframe rightHalf src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.4856008872316!2d-74.43508471234782!3d40.48664375939194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c646caf2396d%3A0x9bfc584bec6d367c!2sRobert%20E.%20Mortensen%20Hall%2C%20New%20Brunswick%2C%20NJ%2008901!5e0!3m2!1sen!2sus!4v1680625589568!5m2!1sen!2sus" style="border:0; width:100%; height:100%; min-height: 300px;" allowfullscreen="" loading="lazy"></iframe>
    </app-event-card>
    <app-event-card title="Game Showcase & Final Remarks" date="{{endDate}}" time="{{endDateTime}}" type="In-Person" event-page="{{endDateEventPage}}">
      <div>
        The main event of Scarlet Game Jam, this is where you will race to finish up your project, showcase your final work, and see everyone else's projects as well. This is the main event of Scarlet Game Jam and it will be a lot of fun. 
        <br><br> 
        Located at the BSC Multipurpose Room.
        <br>
        Food will be served.
      </div>
      <iframe rightHalf src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1404.004119109974!2d-74.4579216994086!3d40.52354670918095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c70b9391c1db%3A0xed97af4bcd2f4154!2sRutgers%20University%20Busch%20Student%20Center!5e0!3m2!1sen!2sus!4v1680407359979!5m2!1sen!2sus" style="border: 0; width: 100%; height:100%; min-height: 300px;" allowfullscreen="" loading="lazy"></iframe>
    </app-event-card>
  </app-card-grid>
</app-section>
<app-section title="Merch" color="blank" dog-ear>
  <p style="
    text-align: justify; 
    margin-bottom: 1.5em;
    max-width: 25em;
  ">
    Help support the COGs club by buying merchandise! We will use the money raised to make our future events bigger and better. 😄
  </p>
  <app-button link="{{merchLink}}" target="_blank" color="primary" style="width: 100%;" [hidden]="merchLink == ''">👕 Merch Shop</app-button>
</app-section>
<app-section title="Stickers" color="foreground-accent-300" dog-ear>
  <p style="
    text-align: justify; 
    margin-bottom: 1.5em;
  ">
    We will be selling stickers throughout Scarlet Game Jam! Single stickers will cost a $1 each, and a 5-pack bundle of 4 matte and 1 holographic sticker will cost $4 each. We will use the money raised to make our future events bigger and better. 😄
  </p>
  <app-column-layout>
    <img src="assets/images/sgj-sticker-sample-f2022.png" style="width: 100%;">
    <img src="assets/images/sgj-sticker-bundle-f2022.png" style="width: 100%;">
  </app-column-layout>
</app-section>
<app-section title="FAQ" color="primary" dog-ear last>
  <mat-accordion>
    <app-question-panel title="What is Scarlet Game Jam?">
      <p>Scarlet Game Jam is an annual game jam hosted by COGS for all Rutgers students and staff! Similar to any other game jam, participants will be given one week(ish) to design and code a game to show off at the end of the jam. At the beginning of each Scarlet Game Jam we will also be unveiling the (optional) theme to inspire or challenge our participants which changes with every scarlet game jam, so each year is a new experience!</p>
      <p class="mb-0">Participants can join our game jam solo or in a group, its up to you! No experience is required either, so feel free to join regardless of your game design experience. Have no experience and no friends to join with? No worries, at the beginning of every game jam we offer a team assembly time where you can get to know other jammers and team up (or not) to make some amazing games by the end of the week.</p>
    </app-question-panel>
    <app-question-panel title="Where does Scarlet Game Jam take place?">
      <p>Scarlet Game Jam takes place over a week(ish), but we're not going to keep you in place for that long. We understand you're busy college students (we are too!) so the large majority of Scarlet Game Jam actually takes place wherever you want it to. This means you can work in the comfort of your home (dorm, apartment, ...), the library, the dining hall, a table in the Yard, literally anywhere. We do this so that you can work around your schedule and, if working with other people, find the perfect time to meet for your group without having to worry about our availability or the availability of a single room.</p>
      <p class="mb-0">There are portions of Scarlet Game Jam in person, though, those being: {{startDate}}, where you can brainstorm with other people, form a group if you want, and just hang out in general; And {{endDate}}, the end, where you get to show off your game, see what other people have made, and reminisce over the long week you just had (and hopefully how fun it was!).</p>
    </app-question-panel>
    <app-question-panel title="Who can come?">
      <p class="mb-0">Scarlet Game Jam is open to ALL Rutgers students, faculty, and staff. Because of this, Scarlet Game Jam is a great networking/social event where you can meet fellow Rutgers people and form friendships, partnerships, or whatever. Nothing says you have to stop working on your game after the game jam either. If you like your project and you've worked with some likeminded people, we encourage you to finish that game, polish it up, and then release it online for everyone to play (of course make sure to send us the steam link and maybe a key or two 😉). </p>
    </app-question-panel>
    <app-question-panel title="Can non-Rutgers students come?">
      <p class="mb-0">Yes! Though they must bring proof of vaccination or an official negative COVID-19 test within 72 hours to all in-person events held during SGJ.</p>
    </app-question-panel>
    <app-question-panel title="What if I can't code?">
      <p class="mb-0">COGS is the perfect place for people who want to explore ALL aspects of game development. This means we accept all artists, music composers, programmers, etc with open arms! If you have an idea for a game, or just want to learn how to make them, COGS will help you find a place to apply what you're good at.</p>
    </app-question-panel>
    <app-question-panel title="What can we do with our games?">
      <p class="mb-0">Your team owns 100% of the game you make during jam. Feel free to turn your game jam games into a full release if you think the game has potential. </p>
    </app-question-panel>
  </mat-accordion>
</app-section>