@import 'variables';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
	height: 100%;
	width: 100%;
}

.page {
	flex: 1 1 auto; 
	display:flex; 
	flex-flow: column;
}