@import 'variables';

/* Mobile values */
@media screen and (max-width: $mobile-width) {
	:root {
		--content-width: auto;
	}
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
	height: 100%;
	width: 100%;
}

h1.small-title {
	font-weight: 900;
	font-size: 24px;
	line-height: 24px;
}

h1.small-plus-title {
	font-weight: 900;
	font-size: 32px;
	line-height: 32px;
}

h1.medium-title {
	font-weight: 900;
	font-size: 48px;
	line-height: 48px;
}

h1.medium-plus-title {
	font-weight: 900;
	font-size: 52px;
	line-height: 52px;
}

h1.large-title {
	font-weight: 900;
	font-size: 64px;
	line-height: 64px;
}

.page {
	flex: 1 1 auto; 
	display:flex; 
	flex-flow: column;
}