/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #B3002D;
  --primary-color-dark: #66001A;
  --secondary-color-light: #D7D5D5;
  --secondary-color: #9F9A99;
  --secondary-color-med: #726D6D;
  --secondary-color-dark: #3A3737;
  --light: #FFFFFF;
  --dark: #2d2d2d;
  --discord-color: #5865F2;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100%;
  width: 100%;
}

.vbox-32 > * {
  display: block;
  margin-top: 32px !important;
}

.vbox-32 > :first-child {
	margin-top: 0px !important;
}

.vbox-16 > * {
  display: block;
  margin-top: 16px !important;
}

.vbox-16 > :first-child {
	margin-top: 0px !important;
}

.vbox-8 > * {
  display: block;
  margin-top: 8px !important;
}

.vbox-8 > :first-child {
	margin-top: 0px !important;
}

body {
  font: 'Urbanist';
  font-weight: 400;
  font-size: 18px;
}

h1.small-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
}

h1.mb-1 {
  margin-bottom: 10px;
}

h1.medium-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
}

h1.mb-2 {
  margin-bottom: 24px;
}

h1.large-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
}

h1.mb-3 {
  margin-bottom: 50px;
}

