:host {
  --banner-height: calc(50vh - var(--site-header-height));
  --avatar-border-width: 0.5em;
  --avatar-size: 8em;
}

.banner-container {
  box-sizing: content-box;
  height: var(--banner-height); 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-banner-tint {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.avatar-container {
  width: calc(var(--avatar-size) + var(--avatar-border-width));
  height: calc(var(--avatar-size) + var(--avatar-border-width));
  position: absolute;
  box-sizing: content-box;
  top: calc(var(--banner-height) - 0.5 * var(--avatar-size));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.avatar {
  position: absolute;
  border: solid var(--avatar-border-width);
  border-radius: 50%;
  object-fit: cover;
  width: calc(100% - 2 * var(--avatar-border-width));
  height: calc(100% - 2 * var(--avatar-border-width));
}

.edit-avatar-tint {
  position: absolute;
  width: calc(100% - 2 * var(--avatar-border-width));
  height: calc(100% - 2 * var(--avatar-border-width));
  border-radius: 50%;
  background-color: black;
  opacity: 0.5;
}

.display-name {
  margin: 0px;
}

.username-tag {
  margin-bottom: 1em;
}

.main-bg {
	position: relative;
	box-sizing: border-box;
  /* TODO LATER: Figure out better way to prevent bio from overflowing */
  max-width: 100vw;
}

.content-width-padding {
	padding: var(--content-padding);
  padding-top: 0px;
}

.socials-button-container {
	box-sizing: border-box;
	display: grid;
	align-items: stretch;
	margin-left: auto;
	margin-right: auto;
	gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
}

.content {
	display: block;
  margin-top: 0px;
	margin: auto;
  padding-top: 0px;
	max-width: var(--content-width);
}

.core-content > * {
  margin-top: 32px;
}