<ng-template #overlayTemplate>
  <div style="
    position: relative;
    width: 20em;
    box-shadow: 0 0 2em #00000080;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em;
    height: min-content;
  " class="background-color-card overlayRoot" cdkTrapFocus cdkTrapFocusAutoCapture (keyup.escape)="close()">
    <div style="
      width: 100%;
      height: 9.375em;
      border-radius: 0.25em;
      overflow: hidden;
      position: relative;
    " [ngStyle]="getBannerContainerStyle()">
      <img *ngIf="user.bannerLink" [src]="cdnService.getFileLink(user.bannerLink)" style="
        object-fit: cover;
        width: 100%;
        height: 100%;
      ">
    </div>
    <div style="
      --size: 6em;
      --offset: calc(var(--size) / 2);
      --offset-left-over: calc(var(--size) - var(--offset));
      position: relative;
      height: var(--offset-left-over);
      margin-bottom: 1em;
    ">
      <div style="
        left: 2em;
        top: calc(-1 * var(--offset));
        position: absolute;
        height: var(--size);
        width: var(--size);
        border-radius: 50%;
        overflow: hidden;
        border-style: solid;
        border-width: 0.25em;
      " class="border-color-card background-color-card">
        <img [src]="user.avatarLink ? cdnService.getFileLink(user.avatarLink) : settings.General.defaultAvatarSrc" style="
          object-fit: cover;
          width: 100%;
          height: 100%;
        " class="profile-overlay avatar">
      </div>
      <button mat-stroked-button pill style="
        position: absolute;
        top: 1em;
        right: 1em;
      " (click)="onProfileClick()">
        Profile
      </button>
    </div>
    <div style="
      padding: 0 1em 1em 1.5em;
      display: flex;
      flex-direction: column;
      gap: 0.75em;
    ">
      <div>
        <h2 style="margin-bottom: 0;">{{user.displayName}}</h2>
        <div class="text-faded">@{{user.username}}</div>
      </div>
      <div>
        <div>{{(user.bio ?? '').slice(0, 100) + (user.bio?.length ?? 0 > 100 ? '...' : '')}}</div>
        <div *ngIf="!user.bio" class="text-disabled">
          Empty bio...
        </div>
      </div>
      <div style="
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0.25em 1.25em;
        align-items: center;
        flex-wrap: wrap;
      ">
        <div *ngIf="user.netId" style="
          display: flex; 
          flex-direction: row;
          align-items: center;
          gap: 0.5em;
          flex-wrap: wrap;
        ">
          <app-tag color="blank">
            ✅ Verified @{{user.netId}}
          </app-tag>
        </div>
        <div *ngIf="user.classYear" style="
          display: flex; 
          flex-direction: row;
          align-items: center;
          gap: 0.5em;
          flex-wrap: wrap;
        ">
          <div>Class of {{ user.classYear }}</div>
          <app-tag color="blank">{{ getClassYearString(user.classYear) }}</app-tag>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<button #container (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()" (click)=" onMouseDown()">
  <ng-content></ng-content>
</button>