<!-- SGJ -->
<app-section class="app-event-header section" title="Scarlet Game Jam is here!" top-gradient bottom-gradient
  color="primary" bgImage="assets/images/sgj-bg-s2025.png" bgRepeatMode="repeat" bgPosition="0 0" style="height:100% "
  shadow>
  <div style="width: 100vw;"></div>
  <div style="max-width: 512px">
    <p>Come sign up for this biannual event and make a game with friends in a week! Click the button below for more
      information.</p>
    <app-button iconifyIcon="majesticons:door-exit" link="scarlet-game-jam" color="blank">Go to SGJ page</app-button>
  </div>
</app-section>
<!-- Scarlet Showcase -->
<!-- <app-section class="app-event-header section" title="Scarlet Showcase is here!" top-gradient bottom-gradient
  color="primary" bgImage="assets/images/ss-bg.png" bgRepeatMode="repeat" bgPosition="0 0" style="height:100% " shadow>
  <div style="width: 100vw;"></div>
  <div style="max-width: 512px">
    <p>Check out our end of semester creative showcase event! Play games made by your fellow Rutgers students,
      participate in fun activities, and win prizes. Click the button below for more
      information.</p>
    <app-button iconifyIcon="majesticons:door-exit" link="scarlet-showcase" color="blank">Go to Scarlet Showcase
      page</app-button>
  </div>
</app-section> -->
