<!-- SGJ -->
<!-- <app-section class="app-event-header section" title="Scarlet Game Jam is here!" bottom-gradient color="primary" bgImage="assets/images/sgj-bg-f2022.png" bgRepeatMode="repeat" bgPosition="0 0" style="height:100% " shadow>
  <div style="width: 100vw;"></div>
  <div style="max-width: 512px">
    <p>Come sign up for this biannual event and make a game with friends in a week! Click the button below for more information.</p>
    <app-button iconifyIcon="majesticons:door-exit" link="scarlet-game-jam" color="blank">Go to SGJ page</app-button>
  </div>
</app-section> -->
<!-- GGJ -->
<app-section class="app-event-header section" title="Global Game Jam is coming soon!" bottom-gradient color="primary" bgImage="assets/images/ggj-bg.png" style="height:100% " shadow>
  <div style="width: 100vw;"></div>
  <div style="max-width: 512px">
    <p>Come sign up for this annual event and make a game with friends in 48 hours! Click the button below for more information.</p>
    <app-button iconifyIcon="majesticons:door-exit" link="global-game-jam" color="blank">Go to GGJ page</app-button>
  </div>
</app-section>