:host {
	overflow: visible;
}

.main-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
	box-sizing: border-box;
	min-height: 100vh;
	padding: var(--content-padding);
	padding-top: var(--dog-ear-padding);
	padding-bottom: var(--dog-ear);
	z-index: 1;
}

.dog-ear {
	border-top-left-radius: var(--dog-ear);
}

div.last {
	height: 0px;
}

.bottom {
	position: absolute;
	height: 128px;
	width: 100%;
	z-index: -100;
}

.content {
	display: block;
	margin: auto;
	max-width: var(--content-width);
}
