:host {
	overflow: visible;
}

div.bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 50px;
	z-index: 1;
}

div.bottom {
	position: absolute;
	height: 128px;
	width: 100%;
	z-index: -100;
}

div.content {
	display: block;
	margin: auto;
}

@media (min-width: 720px) {
	div.content {
		max-width: 80%;
	}
}